@font-face {
  font-family: default-font;
  src: url('@/assets/fonts/Jost/Jost-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: default-font;
  src: url("@/assets/fonts/Jost/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: default-font;
  src: url("@/assets/fonts/Jost/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: default-font;
  src: url('@/assets/fonts/Jost/Jost-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: default-font;
  src: url('@/assets/fonts/Jost/Jost-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: default-font;
  src: url("@/assets/fonts/Jost/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}