// Общее
$button-standard-color: #6162FF;
$button-standard-text-color: #FFFFFF;
$button-warning-color: #FF9C18;
$button-warning-text-color: #FFFFFF;
$field-standard-color: #6162FF;
$field-standard-text-color: #111111;
$scroll-slider-color: #6162FF;
$scroll-slider-body-color: #333333;
$standard-font: default-font, Verdana, sans-serif;
$icon-svg-hover-color: invert(45%) sepia(83%) saturate(4231%) hue-rotate(226deg) brightness(99%) contrast(103%);

// Стандартный экран
$base-screen-main-background-color: #111111;
$base-screen-main-text-color: #FFFFFF;
$base-screen-second-background-color: #FFFFFF;
$base-screen-second-text-color: #111111;

// Модальное окно
$modal-window-area-color: #0000008f;
$modal-window-background-color: #FFFFFF;
$modal-window-text-color: #111111;

// Меню 
$header-background-menu-color: #1A1A1A22;
$header-link-color: #ABAAB0;
$header-link-hover-color: #6162FF;
$header-hint-block-color: #6162FF;

// Начальный экран
$begin-screen-background-color: #111111;
$begin-screen-title-color: #FFFFFF;
$begin-screen-description-color: #ABAAB0;

// Элемент списка о кафедре
$about-item-circle-color: #E5E3FF;
$about-item-title-color: #111111;
$about-item-description-color: #7B7A83;

// Элемент списка направлений кафедры
$direction-item-background-color: #282828;
$direction-item-title-color: #FFFFFF;
$direction-item-text-color: #FFFFFF80;

// Элемент списка информации абитуриенту
$entrant-item-title-color: #000000;
$entrant-item-title-content-color: #111111;
$entrant-item-content-color: #2E2E2E;

// Экран преподавателей
$teacher-screen-color-line: #6162FF;
$teacher-screen-main-color: #111111;
$teacher-screen-additional-color: #11111180;

// Элемент списка информации о преподавателе
$teacher-item-background-color: #FFFFFF;
$teacher-item-main-color: #111111;
$teacher-item-selection-color: #6162FF;
$teacher-item-additional-color: #11111180;

// Подвал сайта
$footer-background-color: #111111;
$footer-text-color: #FFFFFF;