$main-color: #6162FF;
$body-color: #333333;

$additional-white-color: #7B7B84;
$additional-dark-color: #ABABAF;

$icon-dark-color: #7B7C89;
$icon-white-color: #E5E3FF;


// Цвета фонов
$background-while-color: #FFFFFF;
$background-black-color: #111111;

// Цвета для текста
$title-text-while-color: #FFFFFF;
$title-text-black-color: #111111;
$title-description-text-color: #ABAAB0;


$description-text-color: #7B7A83;

// Цвета для кнопок и иконок
$button-standard-color: #6162FF;
$button-standard-text-color: #FFFFFF;
$circle-color: #E5E3FF;


// Шрифт текст
$standard-font: default-font, Verdana, sans-serif;