$primary-color: #6162FF;
$warning-color: #FF9C18;
$main-first-color: #111111;
$main-first-transparent-color: #11111180;
$main-first-extra-color: #282828;
$main-first-elevate-color: #2E2E2E;
$main-first-additional-color: #333333;
$main-first-dark-color: #000000;
$main-first-dark-transparent-color: #0000008f;
$main-first-transparent-menu-color: #1A1A1A22;
$main-second-color: #FFFFFF;
$main-second-additional-color: #ABAAB0;
$main-second-transparent-color: #ABAAB0E5;
$main-second-text-transparent-color: #FFFFFF80;
$main-second-additional-two-color: #E5E3FF;
$main-second-elevated-color: #7B7A83;

$standard-font: default-font, Verdana, sans-serif;

$icon-svg-hover-color: invert(97%) sepia(97%) saturate(0%) hue-rotate(308deg) brightness(104%) contrast(104%);
$icon-svg-hover-color-info: invert(45%) sepia(83%) saturate(4231%) hue-rotate(226deg) brightness(99%) contrast(103%);
$icon-svg-hover-color-primary: invert(45%) sepia(83%) saturate(4231%) hue-rotate(226deg) brightness(99%) contrast(103%);
$icon-svg-hover-color-warning: invert(58%) sepia(75%) saturate(530%) hue-rotate(349deg) brightness(100%) contrast(102%);
