@use '@/assets/scss/properties.scss' as prop;

@mixin button-size($font-weight: 500, $font-size: 2px, $border-radius: 0, $p-x: 30px, $p-y: 15px) {
  border-radius: $border-radius;
  font-weight: $font-weight;
  font-size: $font-size;
  padding: $p-y $p-x;

  @media screen and (min-width: prop.$min-width-desktop-max) {
    border-radius: $border-radius * 1.5;
    font-weight: $font-weight * 1.5;
    font-size: $font-size * 1.5;
    padding: $p-y * 1.5 $p-x * 1.5;
  }
}

@mixin scrollbar($color-slider, $color-body) {
  scrollbar-width: thin;
  scrollbar-color: $color-slider $color-body;

  *::-webkit-scrollbar,
  html *::-webkit-scrollbar {
    height: 1rem;
    width: 1rem;
  }

  *::-webkit-scrollbar-track,
  html *::-webkit-scrollbar-track {
    background: $color-body;
  }

  *::-webkit-scrollbar-thumb,
  html *::-webkit-scrollbar-thumb {
    background-color: $color-slider;
    border: 0.1rem solid $color-body;
  }
}

@mixin animation-to($name, $move: false) {
  @if ($move) {
    .#{$name}-move {
      @content;
    }
  }
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    @content;
  }
}

@mixin animation-from($name) {
  .#{$name}-enter-from,
  .#{$name}-leave-to {
    @content;
  }
}

@mixin phone-style {
  @media ((-webkit-min-device-pixel-ratio: prop.$pixel-ratio-min) or (min-device-pixel-ratio: prop.$pixel-ratio-min)) {
    @content;
  }
}

@mixin font-style($color: #FFFFFF, $weight: 400, $style: normal) {
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@function calc-font-size($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;
  $b: $b * 0.1rem;
  @return calc(#{$k} * 100vw + #{$b} + var(--font-size));
}

@mixin slider-track {
  height: 0.8rem;
  cursor: pointer;
  background: prop.$main-second-additional-color;
  border-radius: 1.3px;
  border: 0.2px solid prop.$main-first-dark-color;
}

@mixin slider-thumb($color) {
  border: 0.1rem solid prop.$main-first-dark-color;
  height: 2rem;
  width: 1.6rem;
  border-radius: 3px;
  background: $color;
  cursor: pointer;
}
